.news {
   padding: 100px 0;

   .largeLetter {
      color: rgb(246, 243, 243);
   }
}

.newsItem {
   display: flex;
   flex-direction: column;
   width: 32%;

   h4 {
      margin: 20px 0;
      color: rgb(47, 135, 253);
   }

   p {
      margin: 15px 0;
   }
}

.newsDate {
   color: rgb(47, 135, 253);
}

.newsItemImgDiv {
   position: relative;
   min-height: 50px;
   display: inline-block;

   img {
      width: 100%;
      display: block;
   }
}

.imgOverlay {
   visibility: hidden;
   background: rgba(47, 135, 253, 0.9);
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   transition: none;
}

.newsItemImgDiv:hover .imgOverlay {
   visibility: visible;
}

