.profile {
   background: rgb(47, 135, 253);
   color: white;
   padding: 50px 0;
   
   p {
      color: rgb(234, 232, 232);
      padding-bottom: 20px;
   }
   .profileImgDiv {
      min-width: 40%;
      img {
         max-width: 100%;
      }
   }

}

.profileFlex {
   display: flex;
   justify-content: space-between;
}

.profileText {
   text-align: center;
   padding: 0 20px;

   .titleUnderline {
      border-color: white;
      margin-bottom: 20px;
   }
}

.profileInfo {
   padding-bottom: 30px;
}


.profileButton {
   display: inline-block;
   border-radius: 20px;
   background: rgb(52, 122, 216);
   width: 30px;
   height: 15px;
   transition: all 0.2s;

   &:hover {
      background: white;
   }
}