.project {
   margin: 100px 0;

   .largeLetter {
      color: rgb(246, 243, 243);
   }
}

.projectText {
   display: flex;
   justify-content: space-between;
   padding: 40px 0;

   h3 {
      max-width: 75%;
   }

   .arrowLink {
      margin: 0;
      background: white;
      color: rgb(47, 135, 253);
      font-family: $fontAlt;
      font-size: 16px;

      &:hover span, &:hover svg {
         color: black;
      }

      svg, span {
         color: rgb(47, 135, 253);
         transition: all 0.2s;
      }
   }
}

.projectImagesFlex {
   display: flex;
   justify-content: space-between;

   img {
      max-width: 100%;
   }
}

.projectImagesFlexDiv {
   div {
      margin: 5px;
   }

}