.news {
   padding: 100px 0;

   .largeLetter {
      color: rgb(246, 243, 243);
   }

}

.newsItem {
   display: flex;
   flex-direction: column;
   width: 32%;

   img {
      width: 100%;
   }

   h4 {
      margin: 20px 0;
      color: rgb(47, 135, 253);
   }

   p {
      margin: 15px 0;
   }
}

.newsDate {
   color: rgb(47, 135, 253);
}

.arrowLink {
   
}