.whyFlex {
   display: flex;
   justify-content: space-between;
   margin: 50px 0;
}

.whyText {
   max-width: 60%;
   padding-right: 10px;
   
   h1 {
      margin: 15px 0;
   }

   h4 {
      margin: 15px 0;
      color: rgb(47, 135, 253);
   }

   p {
      margin: 15px 0;
   }
}

.whyImg {
   max-width: 40%;

   img {
      width: 100%;
   }
}


.riskStrategy {
   display: flex;
   justify-content: space-between;
}

.riskStrategyDiv {
   border: 1px solid rgb(228, 228, 228);
   width: 32%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   transition: all 0.2s;

   &:hover {
      border-left: 1px solid rgb(47, 135, 253);
      color: rgb(47, 135, 253);
      
   }
}

.riskStrategyImgTitle {
   display: flex;
   justify-content: center;
}

.riskImgDiv {
   padding-right: 15px;
}