.contactNav {
   background-color: #f5f5f5;
   // min-height: 65px;
   color: rgba(0, 0, 0, 0.7);
   
   svg {
      color: rgba(47, 135, 253, 0.7);
      margin: 0 10px;
   }

   a, span {
      color: rgba(0, 0, 0, 0.7);
   }

}

.contactNavFlex {
   min-height: 65px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.phoneEmail {
   min-width: 45%;
   display: flex;
   justify-content: space-between;

   .phoneLink {
      display: flex;
      align-items: center;
   }

   .emailLink {
      display: flex;
      align-items: center;
   }
}

.languageAbout {
   display: flex;
   min-width: 40%;



   .languageAboutChild {
      display: flex;
      align-items: center;
      margin: 0 15px;
      border-bottom: transparent 1px solid;
      transition: all 0.2s;
   }

   .languageAboutChild:hover {
      border-bottom: rgb(47, 135, 253) 1px solid;
   }

   .language {
      display: flex;
      align-items: center;
      margin: 0 30px;
   }

}