.indexNav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: rgb(47, 135, 253);
   color: white;
   height: 75px;
   padding: 0 20px;

   a {
      font-size: 18px;
      color: white;
   }

}

.index {
   flex-grow: 3;
   display: flex;
   justify-content: space-between;

   a {
      border-bottom: transparent solid 1px;
      transition: all 0.2s;

      &:hover {
         border-bottom: white solid 1px;
      }
   }
}

.shoppingSocialsFlex {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-grow: 1;
}

.shoppingSearch {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-grow: 1;
   margin: 0 20px;
}

.shopping {
   position: relative;
   margin: 0 10px;

   &:hover .shoppingCircle {
      background: black;
   }
}

.shoppingCircle {
   position: absolute;
   right: -15px;
   bottom: -10px;
   background: rgb(45, 113, 205);
   height: 22px;
   width: 22px;
   border-radius: 100px;

   span {
      position: relative;
      left: 7px;
      bottom: 1px;
   }
}

.search {
   border-bottom: transparent 1px solid;
   margin: 0 10px;
   padding: 5px 10px;
   transition: all 0.2s;

   &:hover {
      border-bottom: white 1px solid;
   }
}

.indexSocialMedia {
   display: flex;
   flex-grow: 1;

   svg {
      color: white;
      transition: all 0.2s;
   }
   
   a {
      padding: 10px 10px;
      flex-grow: 1;
      display: flex;
      justify-content: space-around;

      &:hover svg {
         color: black;
      }
   }
}