.topNavLogo {
   display: flex;
   justify-content: space-between;
   height: 150px;
   align-items: center;

   h2 {
      font-size: 32px;
   }
   
   h5 {
      color: rgb(39, 39, 39);
   }

   img {
      max-height: 45px;
   }

}

.companyLogo {
   display: flex;
}

.mainOffice {
   display: flex;
}

.openingTime {
   display: flex;
}

.consultationLink {
   border: rgb(162, 200, 252) solid 1px;
   text-transform: uppercase;
   color: rgb(47, 135, 253);
}