$fontMain: 'Source Sans Pro', sans-serif;
$fontHeader:'Playfair Display', serif;
$fontAlt: 'Poppins', sans-serif;

// font-family: 'Playfair Display', serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Poppins', sans-serif;