article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

p,
h5,
a {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0; }

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-weight: 400; }

h3,
h4 {
  font-family: "Poppins", sans-serif; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 18px; }

p {
  font-size: 16px;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  line-height: 34px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

span {
  color: white; }

svg {
  color: white; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

* {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.contactNav {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.7); }
  .contactNav svg {
    color: rgba(47, 135, 253, 0.7);
    margin: 0 10px; }
  .contactNav a, .contactNav span {
    color: rgba(0, 0, 0, 0.7); }

.contactNavFlex {
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.phoneEmail {
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .phoneEmail .phoneLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .phoneEmail .emailLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.languageAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40%; }
  .languageAbout .languageAboutChild {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 15px;
    border-bottom: transparent 1px solid;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .languageAbout .languageAboutChild:hover {
    border-bottom: #2f87fd 1px solid; }
  .languageAbout .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px; }

.topNavLogo h2 {
  font-size: 32px; }

.topNavLogo h5 {
  color: #272727; }

.topNavLogo p {
  color: rgba(0, 0, 0, 0.7); }

.topNavLogo img {
  margin-right: 20px; }

.topNavLogoFlex {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.companyLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .companyLogo img {
    position: relative;
    top: 10px; }
  .companyLogo h2 {
    letter-spacing: 2px; }
  .companyLogo span {
    color: #2f87fd; }

.companyLogoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainOffice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.openingTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.consultationLink {
  display: inline-block;
  border: #a2c8fc solid 3px;
  text-transform: uppercase;
  color: #2f87fd;
  width: 200px;
  padding: 20px 0;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .consultationLink:hover {
    color: white;
    background: #2f87fd; }

.indexNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2f87fd;
  color: white;
  height: 75px;
  padding: 0 20px; }
  .indexNav a {
    font-size: 18px;
    color: white; }

.index {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .index a {
    border-bottom: transparent solid 1px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .index a:hover {
      border-bottom: white solid 1px; }

.shoppingSocialsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.shoppingSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 20px; }

.shopping {
  position: relative;
  margin: 0 10px; }
  .shopping:hover .shoppingCircle {
    background: black; }

.shoppingCircle {
  position: absolute;
  right: -15px;
  bottom: -10px;
  background: #2d71cd;
  height: 22px;
  width: 22px;
  border-radius: 100px; }
  .shoppingCircle span {
    position: relative;
    left: 7px;
    bottom: 1px; }

.search {
  border-bottom: transparent 1px solid;
  margin: 0 10px;
  padding: 5px 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .search:hover {
    border-bottom: white 1px solid; }

.indexSocialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .indexSocialMedia svg {
    color: white;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .indexSocialMedia a {
    padding: 10px 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .indexSocialMedia a:hover svg {
      color: black; }

.heroSection {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 22, 50, 0.45)), to(rgba(1, 22, 50, 0.45))), url("/assets/heroImage.jpg");
  background-image: -webkit-linear-gradient(rgba(1, 22, 50, 0.45), rgba(1, 22, 50, 0.45)), url("/assets/heroImage.jpg");
  background-image: -o-linear-gradient(rgba(1, 22, 50, 0.45), rgba(1, 22, 50, 0.45)), url("/assets/heroImage.jpg");
  background-image: linear-gradient(rgba(1, 22, 50, 0.45), rgba(1, 22, 50, 0.45)), url("/assets/heroImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  color: white;
  position: relative; }
  .heroSection svg {
    color: white; }
  .heroSection h1 {
    max-width: 70%;
    font-size: 68px;
    padding-top: 200px; }
  .heroSection h5 {
    max-width: 80%;
    padding: 100px 0;
    font-weight: 400; }

.meetExpertsLink,
.arrowLink {
  display: inline-block;
  background: #2f87fd;
  width: 200px;
  text-align: center;
  padding: 18px 0;
  margin: 30px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .meetExpertsLink:hover,
  .arrowLink:hover {
    background: black;
    color: white; }
  .meetExpertsLink span,
  .arrowLink span {
    margin-left: 15px; }

.angleAnchor {
  background: #2f87fd;
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .angleAnchor:hover {
    background: black; }

.angleAnchorRight {
  top: 50%;
  right: 15px; }

.angleAnchorLeft {
  top: 50%;
  left: 15px; }

.heroAngle {
  position: absolute;
  left: 11px;
  top: 7px; }

.collaborative {
  margin: 50px 0;
  position: relative; }
  .collaborative h2 {
    margin: 30px 0;
    color: #2f87fd;
    text-align: center; }
  .collaborative .arrowLink {
    width: 150px;
    margin: 30px 0; }

.collaborativeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 330px; }
  .collaborativeFlex p {
    margin: 30px 0; }

.leftCircle {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

.collaborativePrincipalSection {
  max-width: 70%;
  padding-right: 30px; }

.collaborativeSmallSection {
  max-width: 30%;
  padding: 25px;
  background-color: #f6f6f6;
  border-right: #2f87fd 1px solid; }
  .collaborativeSmallSection h2 {
    text-align: left; }
  .collaborativeSmallSection .arrowLink {
    width: 200px;
    margin: 0;
    background: none;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .collaborativeSmallSection .arrowLink:hover span, .collaborativeSmallSection .arrowLink:hover svg {
      color: black; }
    .collaborativeSmallSection .arrowLink svg {
      color: #2f87fd;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .collaborativeSmallSection .arrowLink span {
      color: #2f87fd;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

.ourServices {
  background-color: #f5f4f4;
  padding-bottom: 100px;
  position: relative;
  z-index: -2;
  margin: 100px 0 50px;
  padding-top: 50px; }

.largeLetterTitle {
  text-align: center;
  position: relative;
  padding-top: 40px; }
  .largeLetterTitle h1 {
    font-size: 50px;
    color: #2f87fd;
    margin-bottom: 20px; }

.titleUnderline {
  display: inline-block;
  border-bottom: #2f87fd 1px solid;
  width: 100px;
  margin-bottom: 30px; }

.largeLetter {
  font-size: 275px;
  color: white;
  position: absolute;
  font-family: "Playfair Display", serif;
  left: 43%;
  top: 0;
  line-height: 200px;
  z-index: -1; }

.serviceFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.service {
  width: 32%;
  padding: 20px;
  margin-top: 20px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-height: 300px;
  z-index: 2; }
  .service .serviceImgDiv {
    margin: 25px 0;
    height: 80px; }
  .service h5 {
    margin: 10px 0; }

.rightCircle {
  position: absolute;
  right: 0;
  bottom: 30px; }

.whyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0; }

.whyText {
  max-width: 60%;
  padding-right: 10px; }
  .whyText h1 {
    margin: 15px 0; }
  .whyText h4 {
    margin: 15px 0;
    color: #2f87fd; }
  .whyText p {
    margin: 15px 0; }

.whyImg {
  max-width: 40%; }
  .whyImg img {
    width: 100%; }

.riskStrategy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.riskStrategyDiv {
  border: 1px solid #e4e4e4;
  width: 32%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .riskStrategyDiv:hover {
    border-left: 1px solid #2f87fd;
    color: #2f87fd; }

.riskStrategyImgTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.riskImgDiv {
  padding-right: 15px; }

.bizNumbers {
  background: #1f2329;
  margin: 100px 0;
  padding: 0 50px; }

.bizNumbersFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .bizNumbersFlex div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 25%;
    padding: 20px 0 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .bizNumbersFlex div span {
      padding: 15px 0; }
    .bizNumbersFlex div h5 {
      color: rgba(255, 255, 255, 0.75);
      padding: 15px 0;
      font-size: 18px; }
    .bizNumbersFlex div h3 {
      color: #2f87fd;
      padding: 15px 0;
      font-size: 44px;
      font-weight: 700; }

.bizNumbersFlex div:not(:last-child) {
  border-right: 1px solid #313f51; }

.project {
  margin: 100px 0; }
  .project .largeLetter {
    color: #f6f3f3; }

.projectText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0; }
  .projectText h3 {
    max-width: 75%; }
  .projectText .arrowLink {
    margin: 0;
    background: white;
    color: #2f87fd;
    font-family: "Poppins", sans-serif;
    font-size: 16px; }
    .projectText .arrowLink:hover span, .projectText .arrowLink:hover svg {
      color: black; }
    .projectText .arrowLink svg, .projectText .arrowLink span {
      color: #2f87fd;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }

.projectImagesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .projectImagesFlex img {
    max-width: 100%; }

.projectImagesFlexDiv div {
  margin: 5px; }

.profile {
  background: #2f87fd;
  color: white;
  padding: 50px 0; }
  .profile p {
    color: #eae8e8;
    padding-bottom: 20px; }
  .profile .profileImgDiv {
    min-width: 40%; }
    .profile .profileImgDiv img {
      max-width: 100%; }

.profileFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.profileText {
  text-align: center;
  padding: 0 20px; }
  .profileText .titleUnderline {
    border-color: white;
    margin-bottom: 20px; }

.profileInfo {
  padding-bottom: 30px; }

.profileButton {
  display: inline-block;
  border-radius: 20px;
  background: #347ad8;
  width: 30px;
  height: 15px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .profileButton:hover {
    background: white; }

.news {
  padding: 100px 0; }
  .news .largeLetter {
    color: #f6f3f3; }

.newsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%; }
  .newsItem h4 {
    margin: 20px 0;
    color: #2f87fd; }
  .newsItem p {
    margin: 15px 0; }

.newsDate {
  color: #2f87fd; }

.newsItemImgDiv {
  position: relative;
  min-height: 50px;
  display: inline-block; }
  .newsItemImgDiv img {
    width: 100%;
    display: block; }

.imgOverlay {
  visibility: hidden;
  background: rgba(47, 135, 253, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }

.newsItemImgDiv:hover .imgOverlay {
  visibility: visible; }

.logo {
  background: #2f87fd;
  padding-top: 80px; }

.logoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

footer {
  background: black;
  position: relative; }

.footerContactBackground {
  background: #2f87fd; }

.footerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #313030;
  color: white;
  height: 80px;
  padding: 15px;
  position: relative;
  top: 40px; }
  .footerContact h3 {
    font-size: 15px; }
  .footerContact div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footerContact a {
    padding: 0 15px; }
    .footerContact a:hover svg {
      color: white; }
  .footerContact svg {
    color: #2f87fd; }

.footerBar {
  background: #424141;
  margin: 0 15px;
  height: 60px; }

.mainFooter {
  padding-top: 100px; }
  .mainFooter h2 {
    color: white; }
  .mainFooter h3 {
    color: white; }
  .mainFooter h4 {
    color: #2f87fd; }
  .mainFooter p {
    color: #b1afaf; }

.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footerLogoSection {
  max-width: 40%; }
  .footerLogoSection .companyLogo {
    padding-bottom: 30px; }
  .footerLogoSection h2 {
    font-size: 32px; }
  .footerLogoSection p {
    padding-bottom: 20px 0; }
  .footerLogoSection .subscribeDescription {
    color: #2f87fd;
    padding: 40px 0; }
  .footerLogoSection img {
    max-height: 45px;
    margin-right: 20px; }

.emailInput {
  background: #313030;
  border: none;
  height: 45px;
  width: 250px;
  padding: 0 20px;
  color: #605d5d; }

.emailSubmit {
  height: 45px;
  width: 80px;
  position: relative;
  left: -30px;
  top: 1px;
  background: #2f87fd;
  border-radius: 30px;
  border: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .emailSubmit:hover {
    background: firebrick; }

.footerQuickFocus {
  max-width: 20%; }
  .footerQuickFocus h3 {
    font-size: 18px;
    padding-bottom: 40px; }
  .footerQuickFocus li {
    padding: 10px 0; }
  .footerQuickFocus a {
    color: #b1afaf;
    padding: 10px 0; }
  .footerQuickFocus a:hover {
    color: #2f87fd; }

.footerNews {
  max-width: 20%; }
  .footerNews h3 {
    padding-bottom: 40px;
    font-size: 18px; }
  .footerNews h4 {
    font-size: 15px;
    padding: 15px 0; }
  .footerNews p {
    font-size: 15px; }

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 30px 0; }
  .quote svg {
    margin-right: 15px;
    line-height: 2; }
  .quote:hover span, .quote:hover svg {
    color: firebrick; }

.footerBottom {
  border-top: #363434 solid 1px;
  padding: 50px 20px;
  margin: 30px 0 0; }
  .footerBottom p, .footerBottom svg {
    color: #949292; }
  .footerBottom .bottomFooterLink:hover svg {
    color: firebrick; }

.footerBottomFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footerSocialMedia {
  max-width: 200px;
  margin-right: 30px; }

.hamburgerDiv {
  display: none;
  text-align: right;
  position: fixed;
  background: #2f87fd;
  z-index: 10;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px; }
  .hamburgerDiv p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    .hamburgerDiv p a {
      height: 30px;
      padding: 0 5px; }
  .hamburgerDiv svg {
    color: white; }

.overlay {
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  color: white; }

@media (max-width: 1150px) {
  .bizNumbersFlex div h5 {
    font-size: 15px; }
  .bizNumbersFlex div h3 {
    font-size: 35px; } }

/* Portrait tablet and small desktops */
@media (max-width: 950px) {
  .contactNavFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px; }
  .phoneEmail {
    margin: 5px 0; }
  .languageAbout {
    margin: 5px 0; }
  .topNavLogo h2 {
    font-size: 25px; }
  .topNavLogo h5 {
    font-size: 16px; }
  .topNavLogo p, .topNavLogo a {
    font-size: 12px; }
  .topNavLogo .consultationLink {
    width: 150px; }
  .indexNav a {
    font-size: 16px; }
  .heroSection h1 {
    font-size: 50px; }
  .collaborative h2 {
    text-align: center; }
  .collaborative p {
    font-size: 14px; }
  .ourServices p {
    font-size: 14px; }
  .service {
    width: 49%; }
  .why p {
    font-size: 14px; }
  .riskStrategyDiv p {
    font-size: 14px; }
  .bizNumbersFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .bizNumbersFlex div {
      width: 50%;
      -ms-flex-line-pack: center;
          align-content: center;
      padding: 20px; }
      .bizNumbersFlex div span, .bizNumbersFlex div h5, .bizNumbersFlex div h3 {
        text-align: center; }
  .bizNumbersFlex div:not(:last-child) {
    border: none; }
  .logoFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .logoFlex div {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin: 20px 0; }
  .footerContact h3 {
    font-size: 12px; }
  .footerLogoSection h2,
  .footerQuickFocus h2,
  .footerNews h2 {
    font-size: 25px; }
  .footerLogoSection h4,
  .footerQuickFocus h4,
  .footerNews h4 {
    font-size: 14px; }
  .footerLogoSection p,
  .footerLogoSection a,
  .footerQuickFocus p,
  .footerQuickFocus a,
  .footerNews p,
  .footerNews a {
    font-size: 14px; }
  .emailInput {
    width: 200px;
    font-size: 13px; }
  .footerBottom p {
    font-size: 14px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  body {
    padding-top: 50px; }
  .hamburgerDiv {
    display: block;
    font-size: 25px; }
  .contactNav,
  .indexNav {
    display: none;
    z-index: 11; }
  .topNavLogo {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 25px; }
    .topNavLogo h2 {
      color: black; }
    .topNavLogo .companyLogo {
      min-width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .topNavLogo .globe, .topNavLogo .watch {
      display: none; }
  .contactNav {
    margin-top: 50px; }
    .contactNav p,
    .contactNav span,
    .contactNav a {
      font-size: 12px; }
  .topNavLogoFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .consultationLink {
    padding: 10px 5px; }
  .indexNav {
    height: 250px;
    padding: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .indexNav a {
      font-size: 13px; }
    .indexNav .shoppingCircle span {
      font-size: 16px; }
    .indexNav .index {
      max-width: 40%;
      padding: 5px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .indexNav .index li {
        padding: 5px; }
    .indexNav .shoppingSocialsFlex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 40%; }
    .indexNav .shoppingSearch {
      max-width: 100%;
      margin: 0;
      padding: 5px 0; }
    .indexNav .indexSocialMedia {
      max-width: 100%;
      margin: 0;
      padding: 5px 0; }
  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .heroSection h1 {
    font-size: 40px;
    margin-left: 50px; }
  .heroSection h5 {
    margin-left: 50px; }
  .heroSection .meetExpertsLink {
    margin-left: 50px; }
  .collaborative p {
    font-size: 14px; }
  .collaborative .arrowLink {
    width: 150px;
    font-size: 14px; }
  .collaborativeFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .collaborativePrincipalSection,
  .collaborativeSmallSection {
    max-width: 100%; }
  .largeLetter {
    left: 38%; }
  .whyFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .whyFlex .whyText {
      max-width: 100%;
      margin-right: 0; }
    .whyFlex .whyImg {
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .riskStrategy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .riskStrategy .riskStrategyDiv {
      width: 100%;
      text-align: center;
      margin-top: 20px; }
      .riskStrategy .riskStrategyDiv .riskStrategyImgTitle {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
  .project h3 {
    font-size: 15px; }
  .project .arrowLink {
    font-size: 14px; }
  .profileText h3 {
    font-size: 15px; }
  .profileText .profileName {
    font-size: 17px; }
  .news h3 {
    font-size: 15px; }
  .news .arrowLink {
    font-size: 14px; }
  .news .newsItem h4 {
    font-size: 14px;
    margin-bottom: 0; }
  .news p {
    font-size: 14px;
    margin-bottom: 0; }
  .news .arrowLink {
    font-size: 14px; }
  .footerFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .footerLogoSection .subscribeDescription {
    text-align: center;
    padding-bottom: none; }
  .footerLogoSection {
    max-width: 100%;
    padding-bottom: 50px; }
  .emailSubscribe {
    text-align: center;
    position: relative;
    left: 20px; }
  .footerQuickFocus {
    min-width: 48%;
    text-align: center; }
  .footerNews {
    min-width: 48%;
    padding: 0 35px;
    text-align: center; }
  .quoteDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (max-width: 650px) {
  .projectImagesFlex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .projectImagesFlex img {
      width: 100%;
      margin: 20px 0; }
  .profileFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .profileFlex .profileImgDiv {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .profileFlex .profileImgDiv img {
        width: 75%;
        margin: 20px 0; }
  .newsImagesFlex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .newsImagesFlex .newsItem {
      width: 40%;
      margin: 20px 0; }
      .newsImagesFlex .newsItem img {
        width: 100%;
        margin: 0; }
  .footerContact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 20%;
    padding: 10px; }
    .footerContact div {
      margin: 1px 0; }
  .footerBar {
    margin: 0 21%; }
  .footerBottomFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .footerBottomFlex p {
      text-align: center; }
    .footerBottomFlex .footerSocialMedia {
      max-width: 100%;
      margin: 0; } }

@media (max-width: 550px) {
  .topNavLogo {
    display: none; }
  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .heroSection h1 {
    font-size: 30px; }
  .collaborative h1 {
    font-size: 30px; }
  .largeLetter {
    left: 33%; }
  .service {
    width: 100%; }
  .newsImagesFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .newsImagesFlex .newsItem {
      width: 75%;
      padding-bottom: 30px; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .bizNumbersFlex div {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .bizNumbersFlex div span {
      margin: 0 5px; }
    .bizNumbersFlex div h3 {
      padding: 0;
      margin: 0 5px; }
    .bizNumbersFlex div h5 {
      padding: 0;
      margin: 0 5px; }
  .projectText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .projectText h3 {
      max-width: 100%; }
    .projectText .arrowLink {
      width: 100%; }
  .projectImagesFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .projectImagesFlex img {
      width: 100%; }
  .footerQuickFocus, .footerNews {
    max-width: 100%; }
  .footerQuickFocus {
    padding-bottom: 50px; } }

/*# sourceMappingURL=style.css.map */
